.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 100px;
}
.hero {
    color: var(--heroTextColor);
}
.hero h1 {
    font-family: var(--fontClashDisplay);
    font-weight: 600;
    font-size: 80px;
    line-height: 125px;
    text-align: center;
    max-width: 78%;
    margin: 40px auto 50px;
}
.hero p {
    font-family: var(--fontSatoshi);
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    max-width: 65%;
    margin: auto;
    text-align: center;
}
.mySwiper img{
    width: 358px; 
    margin-top: 170px;
}
.one, .two, .four, .five, .three, .six {
    position: relative;
    width: 358px;
}
.two img, .four img, .five img {
    height: 428px;
    top: 12%;
    transform: translateY(-12%);
    -webkit-transform: translateY(-12%);
    -ms-transform: translateY(-12%);
}
.three img, .six img {
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    height: 444px;
}
.one img {
    height: 332px;
}



/* products */
.products {
    max-width: 100%;
    width: 80%;
    margin: auto;
    color: var(--mainTextColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--fontSatoshi);
}
.products h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 65px;
}
.products h3 {
    font-family: var(--fontClashDisplay) !important;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.products hr:nth-of-type(1) {
    margin-top: 30px;
}
.products hr {
    margin-top: 50px;
    background-color: var(--mainTextColor);
}
.products section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.imgLink {
    position: relative;
    width: 610px;
}
.products section article img {
    height: auto;
    width: 610px;
    display: block;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    transition: .5s ease;
    opacity: 0;
}
.imgLink:hover .overlay {
    opacity: 1;
}
.sh {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.sh p, .sh a {
    color: var(--bgColor);
}
.products article > p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: 540px;
    text-align: justify;
    margin: auto auto 40px;
}
.products .subContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    width: 540px;
    margin: auto;
}
.products .imgContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
}
.imgContainer img {
    max-width: 51px;
    height: 51px;
    position: absolute;
}
.imgContainer img:nth-last-of-type(2) {
    left: 20%;
    z-index: 1;
}
.imgContainer img:nth-last-of-type(3) {
    left: 40%;
    z-index: 2;
}
.imgContainer img:nth-last-of-type(4) {
    left: 60%;
    z-index: 3;
}
.imgContainer img:nth-last-of-type(5) {
    left: 80%;
    z-index: 4;
}
.place {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--subText);
    cursor: pointer;
    color: var(--subText);
}



/* upcoming */
.upcoming {
    background: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
    width: 100%;
    padding-bottom: 60px;
}
.upcoming .content {
    max-width: 100%;
    width: 80%;
    margin: 100px auto 0px;
    color: var(--bgColor);
}
.upcoming .content h2{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    padding-bottom: 10px;
}
.upcoming .content hr {
    margin: 0px 0px 20px 30px;
    width: 667px;
    border: 0.8px solid var(--bgColor);
}
.upcoming .imageContainer {
    height: 546px;
    padding: 20px;
    position: relative;
    background-image: url("../../assets/Rectangle 91.png");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left, .right {
    position: absolute;
    bottom: 15%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.left div:nth-of-type(1) {
    width: 15.97px;
    height: 15.97px;
    background: #F5F5F5;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 60px;
}
.left h4 {
    font-family: var(--fontBellefair);
    font-weight: 400;
    font-size: 67.6122px;
    line-height: 77px;
    color: #E1E1E1;
}
.left h5 {
    font-family: var(--fontBellefair);
    font-weight: 400;
    font-size: 29.2313px;
    line-height: 33px;
    margin-bottom: 20px;
}
.left div p:nth-of-type(1) {
    font-family: var(--fontPoppins);
    font-weight: 400;
    font-size: 13.46px;
    line-height: 20px;
    margin-bottom: 20px;
}
.left div p:nth-of-type(2) {
    font-family: var(--fontSatoshi);
    font-weight: 500;
    font-size: 15.8576px;
    line-height: 21px;
    letter-spacing: 0.065em;
    width: 628.85px;
    margin: auto;
}
.right {
    right: 25px;
}
.right a {
    color: var(--bgColor);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.right a:nth-of-type(1) {
    text-decoration: underline;
}
.right a:nth-of-type(2) {
    border: 1px solid var(--bgColor);
    border-radius: 10px;
    padding: 10px 20px;
}
.upcoming .content img {
    width: 295.69px;
    height: 10px;
    margin-top: 50px;
}



/* link */
.linkContainer hr {
    border: 0.5px solid #333333;
}
.linkContainer article {
    max-width: 100%;
    width: 80%;
    margin: auto;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 65px;
    color: var(--mainTextColor);
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkContainer a {
    display: flex;
    align-items: center;
}
.linkContainer .links {
    font-size: 81px;
    color: var(--subTextColor);;
}
.linkContainer .links:hover {
    transform: scale(1.1);
}



/* Creators */
.creators {
    background-color: var(--creatorsBackground);
}
.creators article {
    max-width: 100%;
    width: 80%;
    margin: auto;
    font-family: 'Space Grotesk', sans-serif;
}
.creators article:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 30px;
}
.creators h2 {
    font-weight: 600;
    font-size: 55px;
    line-height: 86px;
    color: var(--thickBlackColor);
}
.creators article:nth-of-type(1) > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.creators article:nth-of-type(1) > div img {
    width: 10px;
    height: 295.69px;
}
.creators article:nth-of-type(1) > div div div {
    font-weight: 400;
    font-size: 40px;
    line-height: 62px;
    color: var(--subTextColor);
    margin-bottom: 20px;
}
.creators article:nth-of-type(1) > div div div:last-child {
    margin-bottom: 0;
}
.creators article:nth-of-type(2) {
    position: relative;
}
.creators article:nth-of-type(2) p {
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.57);
}
.creators article:nth-of-type(2) .circa {
    position: absolute;
    bottom: 20%;
    right: 10%;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    color: var(--subTextColor);
}
.creators article:nth-of-type(2) .nmb {
    float: right;
    font-weight: 700;
    font-size: 170px;
    line-height: 264px;
    text-decoration: line-through;
}
.carousel {
    width: 826px;
    float: right;
    position: absolute;
    top: -80%;
    width: 826px;
    left: 60%;
    transform: translateX(-60%);
    -webkit-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
}
