.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 80%;
    margin: auto;
}
.header > img {
    width: 113px;
    height: 90px;
}
.header nav {
    margin-left: auto;
}
nav ul {
    display: flex;
    align-items: center;
}
.header a {
  font-family: var(--fontSatoshi);
  font-weight: 500;
  font-size: 24px;
  color: var(--heroTextColor) !important;
  margin-right: 30px;
}
.header li:last-child a {
    margin-right: 0px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-left: auto;
}
.cart_icon {
    position: relative;
}
.cart_content {
    position: absolute;
    background-color: #E31616;
    color: var(--bgColor);
    padding: 2px 5px;
    border-radius: 50%;
    font-weight: 700;
    font-family: var(--fontSatoshi);
    cursor: pointer;
    font-size: 12px;
    top: -10px;
    left: 15px;
}
.icons svg {
    font-size: 25px;
}
.activeLink, .header a:hover {
    border-bottom: 3px solid var(--heroTextColor);
}


/* fixed header */
.fixedNav {
    background: var(--fixedNav);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    padding-bottom: 20px;
}
.fixedNav .header {
    background: var(--fixedNav);
}
.fixedNav a {
    color: var(--bgColor);
}



@media (min-width: 992px) and (max-width: 1199px) {
    .header a {
      margin-right: 25px;
    }
    .icons {
        column-gap: 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .header a {
      margin-right: 15px;
      font-size: 20px;
      line-height: 28px;
    }
    .icons {
        column-gap: 15px;
    }
}
@media (max-width: 767px) {
    .header {
        max-width: 100%;
        width: 90%;
    }
    .header img {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
    .header > a {
        display: none;
    }
    .header nav {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 5%;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
    }
    .header nav ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 150px;
    }
    .header nav li {
        margin-bottom: 50px;
    }
    .header nav a {
        color: var(--text);
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1.4px;
    }
    .active > a {
        display: flex;
        z-index: 10;
        position: fixed;
        right: 80px;
        top: 280px;
    }
    .active nav {
        transform: translateX(0%);
        transition: ease-in-out 300ms;
    }
    .active .header img {
        margin-left: 0;
        z-index: 10;
    }
    .icons {
        margin-left: 0;
        column-gap: 15px;
    }
    .icons svg {
        font-size: 30px;
    }
    .icons svg:nth-of-type(2) {
        display: none;
    }
    .cart_content {
        top: -8px;
    }


    /* Hamburger Menu */
    .hamburger {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 22px;
        left: 5%;
        cursor: pointer;
        z-index: 12;
    }
    .active .hamburger {
        position: absolute;
        left: auto;
        right: 5%;
    }
    .hamburger .bar {
        position: relative;
        max-width: 100%;
        width: 60%;
        margin: auto;
        height: 2px;
        background-color: var(--thickBlackColor);
        border-radius: 5px;
        transition: 0.5s;
    }
    .bar::after, .bar::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--thickBlackColor);
        border-radius: 5px;
        transition: 1s;
    }
    .bar::before {
        transform: translateY(-8px);
    }
    .bar::after {
        transform: translateY(8px);
    }
    .active .bar {
        background-color: transparent;
    }
    .active .bar::before {
        transform: translateY(0) rotate(-45deg);
    }
    .active .bar::after {
        transform: translateY(0) rotate(45deg);
    }


    /* Overlay */ 
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        background-color: var(--bgColor);
        z-index: 5;
    }
    .active .overlay {
        pointer-events: all;
        opacity: 1;
    }
}