.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 80%;
    margin: auto;
}
.header > img {
    width: 113px;
    height: 90px;
}
.header nav {
    margin-left: auto;
}
nav ul {
    display: flex;
    align-items: center;
}
.header a {
  font-family: var(--fontSatoshi);
  font-weight: 500;
  font-size: 24px;
  color: var(--heroTextColor) !important;
  margin-right: 30px;
}
.header li:last-child a {
    margin-right: 0px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-left: auto;
}
.activeLink, .header a:hover {
    border-bottom: 3px solid var(--heroTextColor);
}


/* fixed header */
.fixedNav {
    background: var(--fixedNav);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    padding-bottom: 20px;
}
.fixedNav .header {
    background: var(--fixedNav);
}
.fixedNav a {
    color: var(--bgColor);
}



@media (min-width: 992px) and (max-width: 1199px) {
    .header a {
      margin-right: 25px;
    }
    .icons {
        column-gap: 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .header a {
      margin-right: 15px;
      font-size: 20px;
      line-height: 28px;
    }
    .icons {
        column-gap: 15px;
    }
}