.container {
    max-width: 100%;
    width: 80%;
    margin: 80px auto 100px;
    font-family: var(--fontSatoshi);
}
.container p:nth-of-type(1) {
    color: var(--mainTextColor);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}
.container .slider .img_container {
    width: 485px;
    height: 396px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.container .slider img {
    width: 485px;
    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
}
.info {
    border: 0.5px solid var(--bgColor);
    background: rgba(245, 244, 244, 0.24);
    backdrop-filter: blur(1.5px);
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--bgColor);
    font-size: 24px;
    cursor: pointer;
}
.container article h6 {
    font-size: 20px;
    margin: 80px 0px 40px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heart {
    float: right;
    margin-right: 10px;
}
.ob, .flex > div, .ob > div:nth-of-type(2), .fa, .flex > div, .fa > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.ob > div:nth-of-type(1), .fa > div:nth-of-type(1) {
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 30px 0px;
}
.ob > div:nth-of-type(1) > div:nth-of-type(2), .fa > div:nth-of-type(1) > div:nth-of-type(2) {
    color: var(--mainTextColor);
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
}
.ob > div:nth-of-type(2) div, .fa > div:nth-of-type(2) {
    color: var(--subTextColor);
}
.ob > div:nth-of-type(2) span, .fa > div:nth-of-type(2) span  {
    color: var(--mainTextColor);
    padding-left: 10px;
    font-weight: 700;
}
.ob .flex, .fa .flex {
    background-color: #F6F4F4;
    border-radius: 10px;
    padding: 10px;
}
.ob .flex > div > div:nth-of-type(2), .fa .flex > div > div:nth-of-type(2) {
    font-weight: 700;
    color: var(--mainTextColor);
}


@media (min-width: 2200px) {
    .container {
        width: 50%;
    }
}
@media (min-width: 1200px) and (max-width: 1500px) {
    .container .slider .img_container {
        width: 450px;
        height: 386px;
    }
    .container .slider img {
        width: 450px;
        padding: 10px;
        border-radius: 20px;
    }
    .info {
        bottom: 50px;
        font-size: 18px;
    }
    .flex {
        column-gap: 40px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .flex {
        column-gap: 40px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container .slider .img_container {
        width: 400px;
        height: 366px;
    }
    .container .slider img {
        width: 400px;
        padding: 10px;
        border-radius: 20px;
    }
    .info {
        bottom: 70px;
        font-size: 18px;
        padding: 10px;
    }
    .container article h6 {
        margin: 30px 0px 30px;
    }
    .flex {
        column-gap: 40px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 90%;
        margin: 50px auto;
    }
    .container p:nth-of-type(1) {
        margin-bottom: 30px;
        text-align: center;
    }
    .container .slider .img_container {
        width: 390px;
        height: 366px;
    }
    .container .slider img {
        width: 390px;
        padding: 5px;
        border-radius: 20px;
    }
    .info {
        bottom: 70px;
        font-size: 18px;
        padding: 10px;
    }
    .container article h6 {
        margin: 10px 0px 30px;
        text-align: center;
    }
    .flex {
        flex-direction: column;
        row-gap: 50px;
    }
    .ob .flex, .fa .flex {
        flex-direction: row !important;
    }

}

