.container {
    max-width: 100%;
    width: 80%;
    margin: 0px auto 100px;
    font-family: var(--fontSatoshi);
    color: var(--mainTextColor);
}
.container article:nth-of-type(1) {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 50px auto;
}
.back {
    border-radius: 50%;
    border: 1px solid var( --mainTextColor);
    padding: 5px;
    cursor: pointer;
}
.back:hover, .btn:hover {
    transform: scale(0.8);
}
.breadcrumbs {
    color: #BCB7B7;
    font-weight: 500;
}
.breadcrumbs span {
    color: var(--mainTextColor);
}
.subContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.subContainer img {
    object-fit: cover;
    height: 890px;
    border: 2px solid var(--mainTextColor);
    border-right: 1px solid var(--mainTextColor) !important;
    padding: 25px 15px;
}
.subContainer > section {
    border: 2px solid var(--mainTextColor);
    border-left: 1px solid var(--mainTextColor) !important;
    padding-top: 30px;
}
.subContainer_desc, .subContainer_desc > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.subContainer_desc > div {
    border-bottom: 2px solid var(--mainTextColor);
    padding: 20px 15px;
}
.subContainer_desc > div:nth-of-type(1) {
    font-size: 46px;
    line-height: 44.896px;
    font-weight: 700;
}
.subContainer_desc > div:nth-of-type(2) {
    margin-top: 40px;
    row-gap: 40px;
}
.subContainer_desc > div:nth-of-type(2),
.subContainer_desc > div:nth-of-type(3), 
.subContainer_desc > div:nth-of-type(4),
.subContainer_desc > div:nth-of-type(5) {
    font-size: 24px;
    line-height: 27.328px;
    font-weight: 500;
}
.subContainer_desc > div:nth-of-type(2) p:nth-of-type(1) {
    color: var(--subTextColor);
}
.subContainer_desc > div:nth-of-type(2) p:nth-of-type(1) span {
    color: #4693ED;
}
.subContainer_desc > div:nth-of-type(2) > div  {
    display: flex;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}  
.heart:hover {
    transform: scale(1.5);
}
.subContainer_desc > div:nth-of-type(5) {
    border-bottom: none;
}
.desc > div, .listings > div, .status > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desc > div:nth-of-type(2), .listings > div:nth-of-type(2), .status > div:nth-of-type(2) {
    margin-top: 20px;
    font-size: 16px;
}
.viewbox {
   width: 100%;
   background-color: var(--bgColor);
   box-shadow: 4px 4px 64px 4px rgba(0, 0, 0, 0.10);
   border-radius: 15px;
   padding: 20px;
   color: var(--mainTextColor);
   margin: 70px auto;
   font-weight: 500;
   font-size: 24px;
}
.container .slider .img_container {
    width: 430px;
}
.container .slider img {
    border: 2px solid var(--mainTextColor);
    padding: 20px;
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.btn {
    margin: 50px auto;
    border: 1px solid var(--mainTextColor);
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .subContainer img {
        height: 850px;
    }
    .subContainer > section {
        padding-top: 25px;
    }
    .subContainer_desc > div:nth-of-type(1) {
        font-size: 36px;
        line-height: 34.896px;
    }
    .subContainer_desc > div:nth-of-type(2) {
        margin-top: 30px;
        row-gap: 30px;
    }
    .subContainer_desc > div:nth-of-type(2),
    .subContainer_desc > div:nth-of-type(3), 
    .subContainer_desc > div:nth-of-type(4),
    .subContainer_desc > div:nth-of-type(5) {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .subContainer img {
        height: 760px;
    }
    .subContainer > section {
        padding-top: 25px;
    }
    .subContainer_desc > div:nth-of-type(1) {
        font-size: 26px;
        line-height: 24.896px;
    }
    .subContainer_desc > div:nth-of-type(2) {
        margin-top: 30px;
        row-gap: 30px;
    }
    .subContainer_desc > div:nth-of-type(2),
    .subContainer_desc > div:nth-of-type(3), 
    .subContainer_desc > div:nth-of-type(4),
    .subContainer_desc > div:nth-of-type(5) {
        font-size: 16px;
        line-height: 20px;
    }
    .viewbox {
        font-size: 18px;
    }
    .container .slider .img_container {
        width: 350px;
    }
    .container .slider img {
        border: 2px solid var(--mainTextColor);
        padding: 20px;
        width: 330px;
        height: 330px;
        object-fit: cover;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        width: 90%;
        margin-bottom: 50px !important;
    }
    .container article:nth-of-type(1) {
        margin: 30px auto;
    }
    .back {
        display: none;
    }
    .subContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .subContainer img, .subContainer > section  {
        border: none !important
    }
    .subContainer img {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .subContainer > section {
        padding-top: 20px;
    }
    .subContainer_desc, .subContainer_desc > div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .subContainer_desc {
        width: 100%;
    }
    .subContainer_desc > div {
        padding: 10px 0px;
    }
    .subContainer_desc > div:nth-of-type(1) {
        font-size: 24px;
        line-height: 30px;
    }
    .subContainer_desc > div:nth-of-type(2) {
        margin-top: 0px;
        row-gap: 20px;
    }
    .subContainer_desc > div:nth-of-type(2),
    .subContainer_desc > div:nth-of-type(3), 
    .subContainer_desc > div:nth-of-type(4),
    .subContainer_desc > div:nth-of-type(5) {
        font-size: 18px;
        line-height: 24px;
    }  
    .heart:hover {
        transform: scale(1.1);
    }
    .subContainer_desc > div:nth-of-type(5) {
        border-bottom: 2px solid var(--mainTextColor);
    }
    .viewbox {
       margin: 50px auto;
       font-weight: 500;
       font-size: 20px;
    }
    .container .slider .img_container {
        width: 300px;
    }
    .container .slider img {
        width: 290px;
        height: 290px;
        object-fit: cover;
    }
    .btn {
        width: 150px;
    }
}
