.container {
    max-width: 100%;
    width: 80%;
    margin: 70px auto 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: var(--fontSatoshi);
}
.container article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
}
.container article:nth-of-type(1) {
    width: 215px;
}
.container .search {
    position: relative;
    padding-top: 10px;
}
.search input {
    border-radius: 15px;
    width: 100%;
    background-color: var(--searchColor);
    outline: none;
    padding: 15px;
    padding-left: 50px;
    border: none;
}
.container .search .search_icon {
    position: absolute;
    width: 10%;
    top: 65%;
    left: 20px;
    transform: translateY(-65%);
    font-size: 20px;
    color: #999;
}
.filter_container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--mainTextColor);
    font-size: 24px;
    line-height: 32px;
}
.filter_container img {
    width: 30px;
    height: 30px;
}
.category_filter div, .price_filter div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.category_filter div:nth-of-type(1), .price_filter div:nth-of-type(1) {
    width: 250px;
}
.category_filter div:nth-of-type(1) > div, .price_filter div:nth-of-type(1) > div {
    font-size: 20px;
    font-weight: 500;
    line-height: 40.128px;
    width: 100%;
}
.categories, .prices {
    margin: 10px auto;
    color: var(--heroTextColor);
}
.prices {
    cursor: pointer;
}
.selected {
    border-bottom: 2px solid var(--mainTextColor);
    width: fit-content;
    margin-left: 0;
}




/* second article */
.container article:nth-of-type(2) {
    width: calc(80vw - 300px);
}
.viewbox {    
   width: 100%;
   background-color: var(--bgColor);
   box-shadow: 4px 4px 64px 4px rgba(0, 0, 0, 0.10);
   border-radius: 15px;
   padding: 20px;
   color: var(--mainTextColor);
}
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    align-items: center;
    row-gap: 35px;
    align-items: center;
    width: 100%;
}
.box_container {
    width: calc(100% - 25px);
    border-radius: 15px;
    background-color: var(--bgColor);
    box-shadow: 0px 34px 68px 0px rgba(217, 225, 244, 0.36);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 15px 30px 15px;
}
.box_container div {
    margin-right: auto !important;
}
.box_container div:nth-of-type(1) {
    color: var(--mainTextColor);
    text-transform: uppercase;
}
.box_container div:nth-of-type(2) {
    font-weight: 700;
}
.products img {
    width: 241px;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}
.btn {
    margin: 20px auto !important;
    border: 1px solid var(--mainTextColor);
    font-weight: 500;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.btn:hover {
    transform: scale(0.8);
}