.container {
    max-width: 100%;
    width: 80%;
    margin: 0px auto 100px;
    font-size: 20px;
    font-family: var(--fontSatoshi);
}
.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    color: #888;
    font-weight: 500;
    cursor: pointer;
    margin-top: 70px;
}
.active {
    color: var(--heroTextColor);
    border-bottom: 2px solid var(--heroTextColor);
    padding-bottom: 10px;
}


/* Checkout */
.checkout {
    margin-top: 80px;
}
.container > hr:nth-of-type(1) {
    width: 60%;
    margin: auto;
}
.checkout_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.checkout_container > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.btn {
    width: 300px;
}
.checkout_container > div:nth-of-type(1) a:nth-of-type(2) {
    color: var(--btnColor);
    text-decoration: underline;
}
.price_details {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.price_details > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}


/* Shipping */
.shipping_container, .payment_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    margin-top: 80px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.form_flex {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.shipping .btn, .payment .btn {
    margin-top: 30px;
    width: 600px;
}


/* Payment */
.payment h6 {
    color: var(--heroTextColor);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}
.payment_method {
    border: 1px solid var(--bgColor);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
}
.wallet, .imgContainer {
    display: flex;
    align-items: center;
}
.imgContainer {
    margin-left: auto;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #28A814;
    margin-right: 20px;
}
.payment_method > p {
    color: var(--subTextColor);
    width: 450px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 35px;
}
.payment_deets {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.payment_deets h6 {
    margin-top: 40px;
}
.payment_deets > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    right: 10%;
}
.payment_deets > div:nth-of-type(2) {
    color: var(--heroTextColor);
}
.payment_deets > div:nth-of-type(4) {
    color: var(--heroTextColor);
    width: 400px;
    line-height: 35px;
} 
.payment_deets > div:nth-of-type(3), .payment .price_details {
    color: var(--subTextColor);
}
.payment .price_details {
    margin-top: 30px;
}


/* Delivery */
.delivery {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.watermark {
    position: absolute;
    left: 0;
    top: 0;
}
.delivery > img {
    width: 450px;
}
.delivery article > div:nth-of-type(1) {
    color: #000;
    font-size: 30px;
    line-height: 55px;
}
.delivery article div:nth-of-type(2) {
    display: flex;
    align-items: center;
}
.delivery article img {
    width: 100px;
    margin-top: -30px;
    font-size: 20px;
}



@media (min-width: 992px) and (max-width: 1199px) {
    .container > hr:nth-of-type(1) {
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container > hr:nth-of-type(1) {
        width: 100%;
    }
    .checkout {
        margin-top: 50px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        width: 95%;
    }
    .tabs, .container > hr:nth-of-type(1) {
        display: none;
    }
    .checkout {
        margin-top: 50px;
    }
    .checkout_container {
        flex-direction: column-reverse;
    }
    .checkout_container > div:nth-of-type(1) {
        align-items: center;
    }
    .btn {
        margin-top: 30px;
        align-self: center;
    }
    .price_details {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        width: 100%;
    }
    .price_details > div {
        column-gap: 0;
    }
   
}