@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Noto+Sans:wght@400;500&family=Playfair+Display:wght@500;600&family=Poppins&family=Rubik:wght@500&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: #ffffff;
  --fixedNav: #D9D9D9;
  --heroTextColor: #292929;
  --mainTextColor: #333;
  --subTextColor: #616161;
  --thickBlackColor: #161616;
  --fontSatoshi: 'Noto Sans', sans-serif;
  --fontClashDisplay: 'Playfair Display', serif;
  --fontPoppins: 'Poppins', sans-serif;
  --fontBelleefair: 'Bellefair', serif;
  --fontRubik: 'Rubik', sans-serif;
}
body, html {
  position: relative;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img, svg {
  cursor: pointer;
  width: 100%;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}